
table{
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    height: 70px;
}

#title{
    width: 100%;
    text-align: center;
    background: aquamarine;
    
}
.kulirang{
    background-color: #888;
}
th,td{
    border: 1px solid black;
}

.white{
    background-color: white;

}

.green{
    background-color: green;
}

.blue{
    background-color:blue;
}